<template>
  <div id="app">
    <nav role="navigation" aria-label="main navigation" class="navbar has-shadow">
      <div class="navbar-brand">
        <a href="" class="nav-item">Blog Page</a>
        <a href="" role="button" aria-label="menu" aria-expaned="false data-target=" navbarBasicExample="" class="navbar-burger burger">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      
      <div class="nav-menu" v-bind:class="{ 'is-active': isActive }">
        <div class="navbar-end">
          <router-link to="/" class="nav-item">Home</router-link>
          <router-link to="faq" class="nav-item">Features</router-link>
          <router-link to="faq" class="nav-item">About</router-link>
          <router-link to="faq" class="nav-item">FAQ</router-link>
          <div class="nav-item">
            <p class="control">
              <a class="button is-primary is-outlined">
                <span class="icon">
                  <i class="fa fa-download"></i>
                </span>
                <span>Join Now</span>
              </a>
            </p>
          </div>
        </div>   
        </div>
    </nav>
    <router-view></router-view>
    
    <footer class="footer is-primary">
      <div class="container">
        <div class="columns">
          <div class="column">
            <p>And this right here is a spiffy footer, where you can put stuff.</p>
          </div>
          <div class="column has-text-right">
            <a class="icon" href="#"><i class="fa fa-facebook"></i></a>
            <a class="icon" href="#"><i class="fa fa-twitter"></i></a>
          </div>
        </div>
      </div>
    </footer>
  </div>
</template>

<style lang="sass">
@import '../node_modules/bulma/bulma.sass'
@import 'myconfig'

</style>

<script>
export default {
  name: 'app',
  data: function() {
    return {
      isActive: false
    }
  },
  methods: {
    toggleNav: function() {
      this.isActive = !this.isActive;
    }
  }
}
</script>
